@use "../../sass/_partials/mixins";

#activity-keypad {
    max-width: 300px;
    margin: 0 auto;
    background: #242424;
    border-radius: 22px;
    padding: 1.5em 1.2em;

    .key-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-bottom: 0;

        li {
            flex-basis: calc((100% - 40px) / 3);

            .btn {
                background: #ffffff;
                border: 3px solid #73cf48;
                box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                width: 100%;
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 600;
                color: #000000;
                line-height: 30px;

                &.is-right {
                    &:focus {
                        background-color: #73cf48;
                        border: 3px solid #ffffff;
                    }
                }

                &.is-wrong {
                    &:focus {
                        border: 3px solid #d93333;
                    }
                }
            }
        }
    }

    @include mixins.minmq(768px) {
        .key-list {
            // display: flex;
            // flex-wrap: wrap;
            // gap: 10px;
            // justify-content: center;
            // margin-bottom: 0;

            li {
                // flex-basis: calc((100% - 40px) / 3);

                .btn {
                    border: 7px solid #73cf48;
                    border-radius: 20px;
                    font-size: 1.2rem;
                    line-height: 49px;

                    &.is-right {
                        &:focus {
                            border: 7px solid #ffffff;
                        }
                    }
    
                    &.is-wrong {
                        &:focus {
                            border: 7px solid #d93333;
                        }
                    }
                }
            }
        }
    }
    @include mixins.maxmq(500px) {
        margin-bottom: 2em;
    }
}