@use "../../sass/_abstracts/colors";
@use "../../sass/_partials/mixins";

.btn {
    border: none;
    border-radius: 10px !important;
    @include mixins.transition(all 300ms ease-in-out);
    &:focus {
        // border: none !important;
        outline: 0 !important;
        box-shadow: none !important;
    }
}
.primary-btn {
    background-color: colors.$primaryColor !important;
    color: #ffffff !important;

    &:hover {
        color: #ffffff !important;
        background-color: colors.$primaryColorDark !important;
    }
}
.primary-btn-reverse {
    color: colors.$primaryColor !important;
    background-color: #ffffff !important;
    border: 1px solid colors.$primaryColor !important;

    &:hover {
        background-color: #ffffff !important;
        color: colors.$primaryColorDark !important;
    }
}

.danger-btn{
    background-color: colors.$dangerColor !important;
    color: #ffffff !important;
    border: 1px solid colors.$dangerColor !important;

    &:hover {
        color: #ffffff !important;
        background-color: colors.$dangerColorDark !important;
    }
}

.danger-btn-reverse{
    color: colors.$dangerColor !important;
    background-color: #ffffff !important;
    border: 1px solid colors.$dangerColor !important;

    &:hover {
        background-color: #ffffff !important;
        color: colors.$dangerColorDark !important;
    }
}

.form-btn {
    height: 45px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-right: 1.3em !important;
    padding-left: 1.3em !important;
}
