@use "../_abstracts/colors";
@use "../../sass/_partials/mixins";
.form-card {
    background-color: #ffffff;
    border-radius: 30px;
    padding: 2em 1.5em;

    .title {
        display: inline-block;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 800;
        font-size: 17px;
        line-height: 23px;
        color: #1e1e1e;
        margin-bottom: 2em;
        &::after {
            content: "";
            display: block;
            background-color: #6cd33b;
            height: 2px;
            margin-top: 10px;
        }
    }

    .form-group {
        margin-bottom: 2.5em;
    }
}

.details-card-1 {
    .title-wrapper {
        background: #ffffff;
        border-radius: 10px 10px 0px 0px;
        display: flex;
        // padding: 17px 18px;
        padding: 14px 15px;
        border: 1px solid #aeaeae;
        .title {
            align-items: center;
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 800;
            font-size: 1.2rem;
            color: #1e1e1e;
            margin-bottom: 0;
        }
    }

    .body-wrapper {
        // padding: 23px 25px;
        padding: 10px 15px;
        background: #ffffff;
        border: 1px solid #aeaeae;
        .item-card {
            border: 1px solid #aeaeae;
            border-radius: 10px;
            padding: .9em;
            margin-bottom: 1.5em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .item-card-body,
        .item-card-header {
            border-bottom: 1px solid #aeaeae;
            padding-bottom: 1.1em;
            margin-bottom: 1.3em;
        }

        div:last-child.item-card-body {
            border-bottom: none;
            margin-bottom: 0;
        }

        .item-card-header {
            .heading {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                // font-size: 24px;
                font-size: 1.15rem;
                // line-height: 33px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #1e1e1e;
                margin: 0;
            }
        }

        .item-card-footer,
        .item-card-header {
            button {
                padding-right: 1.3em;
                padding-left: 1.3em;
            }
        }
    }

    .footer-wrapper {
        // padding: 23px 25px;
        padding: 10px 15px;
        background: #ffffff;
    }

    @include mixins.minmq(768px) {
        .title-wrapper {
            padding: 17px 25px;
            .title {
                font-size: 25px;
                line-height: 34px;
            }
        }

        .body-wrapper {
            padding: 23px 25px;
            .item-card {
                padding: 13px;
                margin-bottom: 20px;
            }

            .item-card-body,
            .item-card-header {
                padding-bottom: 20px;
                margin-bottom: 20px;
            }
            // .item-card-body,
            // .item-card-header {
            //     border-bottom: 1px solid #aeaeae;
            //     padding-bottom: 1.5em;
            //     margin-bottom: 1.5em;
            // }
    
        }
        .item-card-header {
            .heading {
                font-size: 1.3rem;
                line-height: 33px;
            }
        }


        .footer-wrapper {
            padding: 23px 25px;
        }
    }
}
.details-card-2 {
    .title-wrapper {
        border-radius: 5px 5px 0px 0px;
        background: #1e2b19;
        display: flex;
        padding: 1.05em 1.7em;
        .title {
            font-family: "Open Sans";
            font-style: normal;
            align-items: center;
            color: #ffffff;
            font-weight: 800;
            margin-bottom: 0;
        }
    }
    .title-wrapper,
    .body-wrapper {
        padding: 0.8em 0.8em;
    }

    .body-wrapper {
        background: #ffffff;
        .item-card {
            border: 1px solid #aeaeae;
            border-radius: 10px;
            padding: 0.87em;
            margin-bottom: 1.2em;
            &:last-child {
                margin-bottom: 0;
            }
        }

        .item-card-body,
        .item-card-header {
            border-bottom: 1px solid #aeaeae;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .item-card-header {
            .heading {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 400;
                font-size: 1.3rem;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                color: #1e1e1e;
                margin: 0;
            }
        }
    }

    @include mixins.minmq(768px) {
        .title-wrapper {
            border-radius: 10px 10px 0px 0px;
            .title {
                font-size: 1.5rem;
            }
        }

        .body-wrapper {
            padding: 1.05em 1.7em;
        }

        .item-card-footer,
        .item-card-header {
            button {
                padding-right: 1.3em;
                padding-left: 1.3em;
            }

            #search-btn {
                padding-right: 0.9em;
                padding-left: 0.9em;
            }
        }
    }
}

.account-verification-card {
    &.card {
        background: #ffffff;
        // border: 1px solid #9d9d9d;
        border: none;
        // display: inline-block;
        .brand-title-image {
            // max-width: 335px;
            max-width: 48.5%;
            margin: 0 auto;
        }
        p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            text-transform: uppercase;
            color: #1e1e1e;
            line-height: 50px;
        }
    }
    .card-header {
        // background-color: #ececec;
        background-color: #ffffff;
        border: 1px solid #009cf3;
        padding-top: 1.2em;
        padding-bottom: 1.2em;
    }
    .card-body {
        border: 1px solid #9d9d9d;
        border-top: none;
        form {
            max-width: 517px;
            margin: 0 auto;
            .form-group {
                margin-bottom: 2.3em;
                &:first-child {
                    margin-top: 1.5em;
                }
            }
            padding-bottom: calc(2.3em - 1.25rem);
        }
    }
}

.stage-status {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 25px;
}
