@use "../../sass/_abstracts/colors";
@use "../../sass/_partials/mixins";

input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="search"],
select.form-control,
select.form-select {

    &.form-control,
    &.form-select {
        // border: none;
        // background: #f0f0f0;
        border-radius: 10px;
        height: 45px;

        &:focus {
            outline: 0;
            box-shadow: none;
            // border: 1px solid colors.$successColor;
        }
    }

    &.form-select {
        padding-right: calc(1.5em + 0.75rem) !important;
        // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
        background-image: url("../../assets/images/icons/caret-down-green-icon.svg") !important;
        background-repeat: no-repeat !important;
        background-position: right calc(0.375em + 0.1875rem) center !important;
        // background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
        background-size: calc(0.75em + 0.175rem) calc(0.75em + 0.175rem) !important;
        cursor: pointer;
    }
}

input[type="search"] {
    &.form-control {
        background: unset;
        border-radius: 0;
    }
}

.grey-control {
    background: #f0f0f0 !important;
    // border: none !important;
}



.custom-drop {
    // display: flex;
    // align-items: center;
    position: relative;

    &::after {
        content: "";
        display: block;
        height: 15px;
        width: 15px;
        background-image: url(../../assets/images/icons/caret-down-green-icon.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        right: 0.5em;
        bottom: 0.9em;
    }
}

select {

    // @include mixins.appearance(none);
    option {
        margin: 5em;
        line-height: 2;
        font: inherit;
    }

    &::after {
        content: "hhhhh";
    }
}

.select-drop-wrapper {
    position: relative;
    height: 45px;

    * {
        cursor: pointer;
    }

    &::after {
        // @include after('\f0d7', 20px);
        @include mixins.after("\f0dd", 20px);
        position: absolute;
        right: 0.5rem;
        color: #73cf48;
        pointer-events: none;
        top: 5px;
    }
}

.form-label {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: #1e1e1e;
    margin-bottom: 1.2em;
    cursor: pointer;
}

#inputTypeToggler {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;

    &::after {
        content: "";
        display: block;
        background-image: url("../../assets/images/icons/ant-design_eye-invisible-outlined.svg");
        width: 20px;
        height: 20px;
        background-size: contain;
    }
}


#passsword-toggle-field {
    position: relative;

    #inputTypeToggler {
        border: none;
        background-color: unset;
        bottom: 30%;

        &:focus {
            outline: 0;
        }

        position: absolute;
        right: 0;
    }
}

.was-validated .form-control:invalid,
.was-validated .form-select:invalid,
.form-control.is-invalid,
.form-select.is-invalid {
    // border-color: #dc3545 !important;
    border: 1px solid #dc3545;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-position: right calc(0.375em + 0.1875rem) center !important;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem) !important;
}