@use "../_partials/mixins";

#ui-template-sample-two {
    >.inner {
        width: 100%;
        // max-width: 1440px;
        // margin: 0 auto;
        height: 100vh;
        // max-height: 730px;
        // overflow: hidden;
        // position: relative;
        overflow-y: auto;

        .template-content {
            height: 100%;
            text-align: center;
            padding-top: 3em;

            h1 {
                font-size: 20rem;
                line-height: 240px;
                color: #ffffff;
            }
        }

        #replay-voice-btn {}

        #utility-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 2;
            margin-bottom: 20px;
            margin-left: 20px;
            @include mixins.maxmq(500px) {
                margin-left: 0;
            }
        }

        #replay-voice-btn-wrapper,
        #activity-hint-btn-wrapper {

            #activity-hint-btn,
            #replay-voice-btn {
                margin-bottom: 0.5em;
            }

            text-align: center;

            // position: absolute;
            // bottom: 0;
            // left: 0;
            // z-index: 2;
            // margin-bottom: 20px;
            // margin-left: 20px;
            p {
                font-family: "Open Sans";
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 27px;
                text-transform: capitalize;
                color: #ffffff;
            }

            @include mixins.maxmq(500px) {
                #activity-hint-btn,
                #replay-voice-btn {
                    &::before {
                        // height: 40px;
                        // width: 40px;
                        height: 2rem;
                        width: 2rem;
                    }
                }

                p {
                    font-weight: 600;
                    font-size: 1.2rem;
                }

            }
        }

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #414141;
            border-radius: 10px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar {
            width: 5px;
            background-color: #f5f5f5;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px #414141;
            // background-color: #d62929;
            background: #8a999f;
            // border-radius: 11px;
        }
    }

    .controls {

        .nav-right,
        .nav-left {
            position: absolute;
            // bottom: 46.5%;
            bottom: 40%;
        }

        .nav-right {
            right: 0;
        }

        .nav-left {
            left: 0;
        }
    }

    .mark-control {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        width: 100%;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
        z-index: 1;
    }

    @include mixins.maxmq(500px) {
        .inner {
            width: 100%;
            max-width: 1440px;
            margin: 0 auto;

            // height: 100vh;
            // max-height: 730px;
            // overflow: hidden;
            // position: relative;
            .template-content {
                // height: 100%;
                // transform: translate(0, 190px);
                text-align: center;

                h1 {
                    font-size: 10rem;
                    // line-height: 240px;
                    // color: #ffffff;
                }
            }

            #replay-voice-btn {
                // position: absolute;
                // bottom: 0;
                // left: 0;
            }

            .controls {

                .nav-right,
                .nav-left {
                    bottom: 46.5%;
                }

                .nav-right {
                    right: 0;
                }

                .nav-left {
                    left: 0;
                }

                .next-btn::after,
                .previous-btn::after {
                    content: "";
                    display: block;
                    background-repeat: no-repeat;
                    background-size: contain;
                    height: 40px;
                    width: 45px;
                }
            }

            .mark-control {
                justify-content: flex-end;
            }
        }
    }
}