#activity-launcher {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    .inner {
        height: 100%;
        width: 100%;
        // background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.call-to-action {
    max-width: 300px;
    margin: 0 auto;
    button {
        padding-top: 0.7em;
        padding-bottom: 0.7em;
    }
}
