// background: #D93333;
@use "../../../../sass/_abstracts/colors";
@use "../../../../sass/_partials/mixins";

button {
    font-family: "Open Sans";
    font-style: normal;
    background: colors.$dangerColor;
    color: #ffffff;
    border-radius: 5px !important;
    font-weight: 500;

    @include mixins.minmq(768px) {
        border-radius: 10px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 27px;

        &:hover,
        &:focus {
            background: colors.$dangerColorDark;
            color: #ffffff;
        }
    }
}