#level-and-stage-selection-page {
   

    .stage-card {
        background: #aeaeae;
        border-radius: 10px;
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 96px;
        line-height: 131px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #787878;
        p {
            font-family: "Open Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 96px;
            line-height: 131px;
            color: #787878;
        }
    }
}
