#report-details-page {
    // .title-wrapper {
    //     background: #ffffff;
    //     border-radius: 10px 10px 0px 0px;
    //     display: flex;
    //     // padding: 17px 18px;
    //     padding: 17px 25px;
    //     border: 1px solid #aeaeae;
    //     .title {
    //         align-items: center;
    //         font-family: "Open Sans";
    //         font-style: normal;
    //         font-weight: 800;
    //         font-size: 25px;
    //         line-height: 34px;
    //         color: #1e1e1e;
    //         margin-bottom: 0;
    //     }
    // }

    // .body-wrapper {
    //     padding: 23px 25px;
    //     background: #ffffff;
    //     border: 1px solid #aeaeae;
    //     .item-card {
    //         border: 1px solid #aeaeae;
    //         border-radius: 10px;
    //         padding: 13px;
    //         margin-bottom: 20px;
    //         &:last-child {
    //             margin-bottom: 0;
    //         }
    //     }

    //     .item-card-body,
    //     .item-card-header {
    //         border-bottom: 1px solid #aeaeae;
    //         padding-bottom: 20px;
    //         margin-bottom: 20px;
    //     }

    //     .item-card-header {
    //         .heading {
    //             font-family: "Open Sans";
    //             font-style: normal;
    //             font-weight: 400;
    //             font-size: 24px;
    //             line-height: 33px;
    //             display: flex;
    //             align-items: center;
    //             text-transform: uppercase;
    //             color: #1e1e1e;
    //             margin: 0;
    //         }
    //     }

    //     .item-card-footer,
    //     .item-card-header {
    //         button {
    //             padding-right: 1.3em;
    //             padding-left: 1.3em;
    //         }
    //     }
    // }

    // .footer-wrapper {
    //     padding: 23px 25px;
    //     background: #ffffff;
    // }

    // .card-body,
    // .card-header {
    //     padding: 17px 25px;
    // }
    // .card-header {
    //     background-color: unset;
    //     border: none;
    //     .inner {
    //         display: flex;
    //         .card-title {
    //             font-family: "Open Sans";
    //             font-style: normal;
    //             font-weight: 800;
    //             font-size: 25px;
    //             line-height: 34px;
    //             display: flex;
    //             align-items: center;
    //             color: #1e1e1e;
    //         }
    //     }
    // }
   
    .back-btn {
        &::before {
            height: 1.1rem;
            width: 1.1rem;
        }
    }
}
