<!-- <p>home works!</p> -->
<div id="landing-page">
    <div class="page-wrapper school-bg">
        <div class="inner container">
            <div class="title-image-wrapper">
                <img src="../../../assets/images/TEP-school-custom-title-image.png" alt="" class="img-fluid">
            </div>
            <!-- <a [routerLink]="['/test-onboarding']" mat-raised-button class="btn text-uppercase primary-btn btn-block"
                id="call-to-action">{{title}}</a> -->
        </div>
    </div>
</div>