

#page-loader {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(68, 68, 68, .6);
    // mix-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    p {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 2.2rem;
        line-height: 49px;
        color: #ffffff;
    }
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
