.example-sidenav-content {
    // display: flex;
    height: 100%;
    // align-items: center;
    // justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .mat-toolbar{
    background-color: #1E2B19 !important;
    color: #FFFFFF !important;
  }