<!-- <p>program-completion works!</p> -->

<app-launch-activity-sound [btnTitle] = "launchBtnTitle" (onPlayBGSound)="playBGSound()" *ngIf="!isLaunchTest"></app-launch-activity-sound>
<div id="level-completion-page">
    <div class="inner-wrapper">
        <div class="page-content container-fluid">
            <h1 class="featured-image text-center">
                <img src="{{pageFeaturedImage}}" alt="Page featured image" class="img-fluid">
            </h1>
            <h2 class="page-tagline">{{pageTitle | titlecase}}</h2>
            <div class="btn-wrapper">
                <app-primary-button [btnTitle]="btnTitle" [btnClasses]="btnClasses"(onClickEvent)="onContinueToNextStage(gameLevel)"></app-primary-button>
            </div>
        </div>
    </div>
</div>
