<!-- <p>boolean-alert-dialog works!</p> -->
<div class="card border-0">
    <h5 class="card-header">
        NOTICE
    </h5>
    <div class="card-body">
        <p>ARE YOU SURE YOU WANT TO DELETE THIS REPORT?</p>
    </div>
    <div class="card-footer">
        <!-- <div class="action-wrapper">
            <button class="btn primary-btn btn-block" (click)="closeDialogForNo()">No</button>
            <button class="btn danger-btn btn-block" (click)="closeDialogForYes()">Yes</button>
        </div> -->

        <!-- <div class="action-wrapper"> -->
        <div class="d-grid gap-2 d-flex">
            <button class="btn primary-btn w-100 btn-40-height" (click)="closeDialogForNo()">No</button>
            <span class="mx-auto"></span>
            <button class="btn danger-btn w-100 btn-40-height" (click)="closeDialogForYes()">Yes</button>
        </div>
        <!-- </div> -->


        <!-- </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
    </div> -->
    </div>