<!-- <p>update-password works!</p> -->

<div id="personal-information-page">
    <div class="details-card-1">
        <div class="title-wrapper">
            <div class="d-flex align-items-center">
                <!-- <button class="btn back-btn pl-0" (click)="back()"></button> -->
                <h2 class="title">SECURITY</h2>
            </div>
        </div>

        <form [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">
            <div class="body-wrapper">
                <div class="text-danger text-center py-3" *ngIf="errorMsg">
                    <small *ngIf="errorMsg">{{errorMsg}}</small>
                </div>
                <div class="alert alert-info text-center" *ngIf="responseMsg">
                    <small>{{responseMsg}}</small>
                </div>
                <div class="row">
                    <div class="mb-4 col-12 col-md-6">
                        <label for="OldPassword" class="form-label text-uppercase">Old Password</label>
                        <input type="password" id="OldPassword" class="form-control" formControlName="OldPassword"
                            [ngClass]="{'is-invalid': UpdatePasswordForm.get('OldPassword')?.touched && UpdatePasswordForm.get('OldPassword')?.invalid}"
                            required>
                        <small id="nameErrorMsg" class="form-text text-danger invalid-feedback">This field
                            is
                            required.</small>
                    </div>
                    <div class="mb-4 col-12 col-md-6">
                        <label for="NewPassword" class="form-label text-uppercase">New Password</label>
                        <!-- <input type="password" id="NewPassword" class="form-control" formControlName="NewPassword"> -->
                        
                        <div id="passsword-toggle-field">
                            <input [type]="!fieldType ? 'password': 'text'" id="NewPassword" class="form-control" formControlName="NewPassword"
                                [ngClass]="{'is-invalid': UpdatePasswordForm.get('NewPassword')?.touched && UpdatePasswordForm.get('NewPassword')?.invalid}"
                                required>
                                <button type="button" class="inputTypeToggler"(click)="toggleFieldAttr()"></button>
                        </div>

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="ConfirmNewPassword" class="form-label text-uppercase">Confirm New Password</label>
                        <!-- <input type="password" id="ConfirmNewPassword" class="form-control"
                            formControlName="ConfirmNewPassword"> -->
                            <div id="passsword-toggle-field">
                                <input [type]="!fieldType2 ? 'password': 'text'" id="ConfirmNewPassword" class="form-control" formControlName="ConfirmNewPassword"
                                    [ngClass]="{'is-invalid': UpdatePasswordForm.get('ConfirmNewPassword')?.touched && UpdatePasswordForm.get('ConfirmNewPassword')?.invalid}"
                                    required>
                                    <button type="button" class="inputTypeToggler"(click)="toggleFieldAttr2()"></button>
                            </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <!-- <button class="btn primary-btn text-uppercase form-btn" [disabled]="(isLoading | async)">
            {{submitBtnLabel}}
        </button> -->
                <button class="btn primary-btn text-uppercase" [disabled]="UpdatePasswordForm.invalid || isUpdating">
                    <ng-container *ngIf="isUpdating">Updating...</ng-container>
                    <ng-container *ngIf="!isUpdating">{{submitBtnLabel}}</ng-container>
                </button>
            </div>
        </form>
    </div>
</div>