<!-- <p>update-password works!</p> -->

<div id="personal-information-page">
    <div class="details-card-1">
        <div class="title-wrapper">
            <div class="d-flex align-items-center">
                <!-- <button class="btn back-btn pl-0" (click)="back()"></button> -->
                <h2 class="title">SECURITY</h2>
            </div>
        </div>

        <form [formGroup]="UpdatePasswordForm" (ngSubmit)="onSubmit()">
            <div class="body-wrapper">
                <div class="text-danger text-center py-3" *ngIf="errorMsg">
                    <small *ngIf="errorMsg">{{ errorMsg }}</small>
                </div>
                <div class="alert alert-info text-center" *ngIf="responseMsg">
                    <small>{{ responseMsg }}</small>
                </div>
                <div class="row">
                    <div class="mb-4 col-12 col-md-6">
                        <label for="OldPassword" class="form-label text-uppercase">Old Password</label>
                        <input type="password" id="OldPassword" class="form-control" formControlName="OldPassword"
                            [ngClass]="{
                'is-invalid':
                  OldPassword_?.touched &&
                  OldPassword_?.invalid
              }" required />
                        <small id="nameErrorMsg" class="form-text text-danger invalid-feedback">This field is
                            required.</small>

                        <!-- <div *ngIf="UpdatePasswordForm?.get
            ('OldPassword')?.touched && UpdatePasswordForm?.get
            ('OldPassword')?.invalid">
                <small *ngIf="UpdatePasswordForm?.get
                ('OldPassword')?.errors?.['required']"
                  class="form-text text-danger"
                  >++This field is required.</small
                ></div> -->


                    </div>
                    <div class="mb-4 col-12 col-md-6">
                        <label for="NewPassword" class="form-label text-uppercase">New Password</label>
                        <!-- <input type="password" id="NewPassword" class="form-control" formControlName="NewPassword"> -->

                        <div id="passsword-toggle-field">
                            <input [type]="!fieldType ? 'password' : 'text'" id="NewPassword" class="form-control"
                                formControlName="NewPassword" [ngClass]="{
                  'is-invalid':
                    NewPassword_?.touched &&
                    NewPassword_?.invalid
                }" required />
                            <button type="button" class="inputTypeToggler" (click)="toggleFieldAttr()"></button>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-12 col-md-6">
                        <label for="ConfirmNewPassword" class="form-label text-uppercase">Confirm New Password</label>
                        <!-- <input type="password" id="ConfirmNewPassword" class="form-control"
                            formControlName="ConfirmNewPassword"> -->
                        <div id="passsword-toggle-field">
                            <input [type]="!fieldType2 ? 'password' : 'text'" id="ConfirmNewPassword"
                                class="form-control" formControlName="ConfirmNewPassword" [ngClass]="{
                  'is-invalid':
                    ConfirmNewPassword_?.touched &&
                    ConfirmNewPassword_?.invalid
                }" required />
                            <button type="button" class="inputTypeToggler" (click)="toggleFieldAttr2()"></button>
                        </div>
                        <div
                            *ngIf="UpdatePasswordForm?.invalid && ConfirmNewPassword_?.valid && UpdatePasswordForm?.errors?.['matchPasswords']">
                            <small class="text-danger"> Password should match! </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-wrapper">
                <!-- <button class="btn primary-btn text-uppercase form-btn" [disabled]="(isLoading | async)">
            {{submitBtnLabel}}
        </button> -->
                <button class="btn primary-btn text-uppercase" [disabled]="UpdatePasswordForm.invalid || isUpdating">
                    <ng-container *ngIf="isUpdating">Updating...</ng-container>
                    <ng-container *ngIf="!isUpdating">{{ submitBtnLabel }}</ng-container>
                </button>
            </div>
        </form>
    </div>
</div>