#activity-canvas {
    position: relative;
}

.item-list {
    li {
        &:first-child {
            text-transform: capitalize;
        }

        &.hint {
            background: unset !important;
            color: #ffffff !important;
        }
    }
}

#key-selection-preview-block {
    max-width: auto !important;
    // margin: 0 auto;
    // height: 80px;
    display: flex;

    .preview-text {
        width: auto !important;
        display: inline-flex !important;
        min-width: 72px;
        &.wrong-answer{
            border: 3px solid red !important;
        }
    }
}


#activity-keypad {
    max-width: 600px;
    margin: 0 auto;
    background: #242424;
    border-radius: 22px;
    padding: 1.5em 1.2em;

    .key-list {
        .btn {
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
            border-radius: 20px !important;
        }
    }
}