@use '../../../../../../../../../sass/_partials/mixins';

#activity-canvas {
    position: relative;
}

.item-list {
    li {
        &:first-child {
            text-transform: capitalize;
        }
    }
}

#key-selection-preview-block {
    max-width: auto !important;
    // margin: 0 auto;
    // height: 80px;
    display: flex;

    .preview-text {
        width: auto !important;
        display: inline-flex !important;
        min-width: 72px;
        &.wrong-answer{
            border: 3px solid red !important;
        }
    }
}

#activity-keypad {
    max-width: 400px;
    //     margin: 0 auto;
    //     min-height: 150px;
    //     background: #242424;
    //     border-radius: 22px;
    //     padding: 1.5em 1.2em;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;

    //     .key-list {
    //         .btn {
    //             box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    //             border-radius: 10px !important;
    //             padding: 0.5em 0.8em;
    //             text-transform: uppercase;
    //             font-family: "Open Sans";
    //             font-style: normal;
    //             font-weight: 800;
    //             font-size: 20px;
    //             line-height: 27px;
    //             display: flex;
    //             align-items: center;
    //             text-align: center;
    //             text-transform: capitalize;
    //             // color: #ffffff !important;

    //             &.btn-primary {
    //                 background-color: #6cd33b !important;
    //             }
    //         }
    //     }
}

#result-item-list-text {
    .item-list {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-wrap: wrap;

        li {
            padding: .3em;

            &.hint {
                min-width: 2em;
                height: 1.7em;
                margin-right: .2em;
                padding: .35em .3em;
                background: #FBFF45;
                border-radius: 10px;
                overflow: hidden;
                color: #000000;

                >div {
                    height: 100%;
                    border-bottom: 2px solid #000000;
                }

                // @include mixins.minmq(768px) {
                //     min-width: 3.2em;
                //     height: 2.5em;
                //     border-radius: 17px;
                //     padding: .55em .6em;
                // }
            }

            @include mixins.minmq(768px) {
                &.hint {
                    margin-bottom: .3em;
                    min-width: 3.2em;
                    height: 2.5em;
                    border-radius: 17px;
                    padding: .55em .6em;
                }
            }
        }
    }
}


#blue-board>.inner #result-item-list .item-list li {
    width: auto;
    padding: 0.5em;
    font-weight: 700;
    font-size: 1.75rem;
    text-transform: none;
}

.item-list {
    li {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 1.3rem;
        color: #FFFFFF;

        @include mixins.minmq(768px) {
            padding: 0.5em;
            font-weight: 700;
            font-size: 1.75rem;
            line-height: 35px;
        }
    }
}

// #blue-board>.inner #result-item-list .item-list li {
//     width: auto;
//     padding: 0.2em;
//     font-weight: 500;
//     font-size: 1.3rem;
//     text-transform: none;

//     @include mixins.minmq(768px) {
//         padding: 0.5em;
//         font-weight: 700;
//         font-size: 1.75rem;
//     }
// }


.action-btn {
    display: flex;

    .btn {
        margin-right: 0.3em;

        &:last-child {
            margin-right: 0;
        }

        // background-color: #6CD33B !important;
        // border-radius: 10px !important;
    }
}