@use "../../../../../../../../../sass/_partials/mixins";

#activity-canvas {
    position: relative;
}

#blue-board>.inner #result-item-list .item-list li {
    // height: 90px;
    height: 70px;
    width: auto;
    min-width: 90px;
    // background: #fbff45;
    // border: 7px solid #4a3d96;
    // border-radius: 20px;
    // font-family: "Open Sans";
    // font-style: normal;
    // font-weight: 600;
    // // line-height: 131px;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // color: #000000;
    // 
    // font-size: 64px;
    font-size: 2rem;
    padding-left: .4em;
    padding-right: .4em;
    line-height: 87px;
    color: #000000;

    &.answer-field {
        position: relative;
        &::after {
            content: "";
            display: block;
            height: 3px;
            background-color: #000000;
            position: absolute;
            bottom: .5em;
            right: .5em;
            left: .5em;
        }
    }
}