<!-- <p>basic-operations-division works!</p> -->

<div>
    <!-- <p class="text-danger">{{isLoadingStarCards}}</p>
    <p class="text-primary">Obs: {{letterResultLoading$ | async}}</p> -->
    <!-- <p class="text-primary">Obs: {{testStageStars | json}}</p> -->
    <!-- <p class="text-danger">isLoadingStarCards: {{isLoadingStarCards | json}}</p>
    <p class="text-warning">testStageStars: {{testStageStars | json}}</p> -->
    <ng-container *ngIf="isLoadingStarCards && !testStageStars.length">
        <div class="text-info text-bold">Loading...</div>
    </ng-container>
    <!-- <p class="text-danger text-bold">{{testStageStars | json}}</p>
    <p class="text-danger text-bold">{{userData$ | async | json}}</p> -->

    <ul class="stage-status list-style-none ps-0">
        <li class="cursor-pointer" *ngFor="let item of testStageStars; let i = index"
            [routerLink]="['/numeracy/basic-operations-division/', item?.title, 'basic-operations-division-splash']">
            <div class="stage-card">
                <p>{{i + 1}}</p>
            </div>
            <ul class="stage-star-rating list-style-none ps-0">
                <li *ngFor="let stageStar of item?.starArray">
                    <div *ngIf="stageStar?.isDone">
                        <img src="../../../../assets/images/icons/yellow-black-bordered-star.svg" alt=""
                            class="img-fluid">
                    </div>
                    <div *ngIf="!stageStar?.isDone">
                        <img src="../../../../assets/images/icons/white-grey-bordered-star..svg" alt=""
                            class="img-fluid">
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>

