<!-- <p>level-loader works!</p> -->

<div id="stage-loading-page">
    <div class="inner-wrapper bubble-pattern-bg">
        <div class="page-content container-fluid">
            <div class="content-inner">
                <div>
                    <h1 class="page-title">LEVEL : {{levelTitle}}</h1>
                    <h2 class="page-tagline">Stage {{stageNumber + 1}}</h2>
                </div>

                <div id="loader-wrapper">
                    <div class="label">LOADING...</div>
                    <div id="bar">
                        <div id="progress"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>