@use "../../../../sass/_abstracts/colors";
@use "../../../../sass/_partials/mixins";

button {
    font-family: "Open Sans";
    font-style: normal;
    background: colors.$primaryColor;
    color: #ffffff;
    border-radius: 5px !important;
    font-weight: 500;
    // font-size: 0.95;

    @include mixins.minmq(768px) {
        // background: #73CF48;
        border-radius: 10px;
        font-weight: 600;
        font-size: 1rem;
        line-height: 27px;

        &:hover,
        &:focus {
            background: colors.$primaryColorDark;
            color: #ffffff;
        }
    }
}
