<!-- <p>layout works!</p> -->
<!-- <p class="text-primary">Letter: {{(letterResultLoading$ | async)}}</p>
<p class="text-info">Word: {{(wordResultLoading$ | async)}}</p>
<p class="text-primary">Paragraph: {{(paragraphResultLoading$ | async)}}</p>
<p class="text-info">Story: {{(storyResultLoading$ | async)}}</p> -->
<div id="main-app-wrapper">
    <div *ngIf="
    (wordResultLoading$ | async) || 
    (letterResultLoading$ | async) ||
    (paragraphResultLoading$ | async) ||
    (storyResultLoading$ | async) ||
    (numberRecognitionOneResultLoading$ | async)">
        <app-full-page-loader></app-full-page-loader>
    </div>
    <router-outlet></router-outlet>
</div>