
@use "../../../../sass/_partials/mixins";
// #search-input-wrapper {
//     // width: 100%;
//     // max-width: 500px;
//     // width: 500px;
//     + div {
//         width: 100%;
//         // background-color: red;
//         @include mixins.minmq(765px) {
//             max-width: 160px;
//         }
//     }
// }

#search-input {
    border: 1px solid rgba(199, 199, 199, 1);
    border-radius: 5px;
    input {
        border: none;
        &:focus {
            border: none !important;
        }
    }
}

