<!-- <p>long-text-read-dialog works!</p> -->
<div class="card">
    <div class="card-body">
        <div class="text-center">
            <div class="title">Answer</div>

            <!-- <div class="content">My name is Ahmed.<br/>
                I live in a big town,<br/>
                I have three brothers and two sisters, We all clean the house every morning before going out to the
                shop. Today is a market day in the town I live we are going to have lots of fun today.</div> -->
                
            <pre class="content">{{text}}</pre>
                <button mat-button class="btn" (click)="continueTestSubmission()">Continue</button>
        </div>
    </div>
</div>