<!-- <p>paragraph-stage-two-instructional-video works!</p> -->
<div id="instructional-video-screen">
    <div class="video-wrapper">
        <video style="width: 100%" controls>
            <source src="https://mainlandcode.com/lrpvideos/literacy/LEVEL_PARAGRAPH_STAGE_2.mp4"
                type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="text-center btn-wrapper d-none">
        <button class="btn btn-block instructional-video-continue-btn"
            [routerLink]="['/literacy/paragraph/stage-2/activity']">Continue</button>
    </div>
</div>
