<!-- <p>exercise works!</p> -->

<div id="activity-canvas">
    <div id="blue-board">
        <div id="board-activity-hint">
            <p class="my-0">{{boardActivityHint}}</p>
        </div>
        <div class="inner">
            <div id="result-item-list">
                <div class="d-flex px-2">
                    <ul class="item-list ps-0 mb-0">
                        <li>
                            <p class="m-0">{{test?.question}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="key-selection-preview-block">
        <div class="preview-text" *ngIf="previewText">
            {{previewText}}
        </div>
    </div>
    <div id="activity-keypad">
        <ul class="key-list ps-0 list-style-none">
            <li *ngFor="let key of keyList">
                <!-- {{key}} -->
                <button class="btn" (click)="onSelectAlphabet(key)"
                    [ngClass]="{'is-right': key?.name == test?.answer,'is-wrong': key?.name != test?.answer}">{{key?.name}}</button>
            </li>
        </ul>
    </div>
    <div id="utility-controls">
        <div id="activity-hint-btn-wrapper">
            <button class="btn" id="activity-hint-btn" (click)="onReadHint()">
            </button>
            <p>Hint</p>
        </div>
        <div id="replay-voice-btn-wrapper">
            <button class="btn" id="replay-voice-btn" (click)="refreshGame()"></button>
            <p>Refresh</p>
        </div>
    </div>
</div>