@use "../../../../../../../../../sass/_partials/mixins";

#activity-canvas {
    position: relative;
}

#blue-board>.inner #result-item-list .item-list {
    li {
        height: auto;
        width: auto;
        min-width: 90px;
        font-size: 1.8rem;
        padding: .4em 1em;
        line-height: 38px;
        color: #000000;

        &.answer-field {
            position: relative;

            &::after {
                content: "";
                display: block;
                height: 3px;
                background-color: #000000;
                position: absolute;
                bottom: .5em;
                right: .5em;
                left: .5em;
            }
        }
    }
}

#activity-keypad {
    max-width: 350px;
}

#key-selection-preview-block {
    text-align: center;
    .preview-text {
        width: auto;
        display: inline-flex;
        margin: 0 auto;
        padding: .3em;
    }
}