.brand-logo {
    max-width: 335px;
    margin: 0 auto;
    margin-bottom: 2.5em;
}
.card-header {
    background: #009cf3;
    border: 1px solid #009cf3;
    border-radius: 10px 10px 0px 0px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
