<!-- <p>occupant-list works!</p> -->

<div>
    <ng-container *ngIf="!list?.length && !isLoading ">
        <div class="alert alert-info text-center">No occupant</div>
    </ng-container>
    <ng-container *ngIf="list?.length > 0">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">S/N</th>
                        <th scope="col">Name</th>
                        <th scope="col">AGE</th>
                        <th scope="col">GENDER</th>
                        <th scope="col">STATE</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody *ngIf="occupantList$ | async as occupantList">
                    <tr *ngFor="let item of occupantList  | paginate
                    : {
                        itemsPerPage: ItemsPerPage,
                        currentPage: page,
                        totalItems: totalRecords
                      }; let i = index">
                        <th scope="row">
                            {{i + 1}}
                        </th>
                        <td>{{item?.occ_name}}</td>
                        <td>{{item?.occ_age}}</td>
                        <td>{{item?.occ_gender}}</td>
                        <td>{{item?.occ_state}}</td>
                        <td class="text-end">
                            <div class="d-flex justify-content-end">
                                <app-primary-button [btnTitle]="btnEdit.title | uppercase" [btnClasses]="btnClasses"
                                    (onClickButton)="onViewRespondentDetails(item)"></app-primary-button>
                                <div class="mx-1"></div>
                                <app-danger-button [btnTitle]="btnDanger.title | uppercase" [btnClasses]="btnClasses"
                                    (onClickEvent)="onRemove(item?.occ_id)"></app-danger-button>
                            </div>
                            <!-- <app-table-column-action-buttons (remove)="onRemove(item)"
                            (edit)="onViewRespondentDetails(item)" [primaryBtnTitle]="primaryBtnTitle" [dangerBtnTitle]="dangerBtnTitle"></app-table-column-action-buttons> -->
                            <!--  -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="py-2 d-flex">
            <div class="ms-auto"></div>
            <pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
        </div>
    </ng-container>
</div>