
#activity-canvas {
    position: relative;
}

.preview-text {
    height: 100%;
    width: 72px;
    background: #414141;
    border: 3px solid #ffffff;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    margin: 0 auto;

    &.wrong-answer{
        border: 3px solid red !important;
    }
}