<!-- <p>basic-operations-multiplication-stage-two-splash works!</p> -->

<div id="ui-template-sample-one">
    <div class="inner bg-classroom classroom-bg">
        <!-- <div class="container-fluid bg-warning h-100"> -->
        <div class="container-fluid h-100 py-5">
            <app-breadcrumb-topbar  [menuList]="menuList"></app-breadcrumb-topbar>
            <router-outlet></router-outlet>
            <!-- <div class="template-content">
                <div class="character-image">
                    <img src="../../../../../assets/images/splash-screens-characters/stage-1/stage-1-splash-screen-1.svg"
                        alt="ui character" class="img-fluid">
                </div>
            </div>
            <button class="btn" id="replay-voice-btn"></button>
            <div class="controls bg-dark">
                <div class="nav-left text-white">
                    <button class="btn previous-btn"></button>
                </div>
                <div class="nav-right text-white">
                    <button class="btn next-btn"></button>
                </div>
            </div> -->
        </div>
    </div>
</div>


