@use "./sass/_components";
@use "./sass/_abstracts";
@use "./sass/_partials";
@use "./sass/_pages";
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tep-digital-lrp-v2-primary: mat.define-palette(mat.$indigo-palette);
$tep-digital-lrp-v2-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tep-digital-lrp-v2-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tep-digital-lrp-v2-theme: mat.define-light-theme((color: (primary: $tep-digital-lrp-v2-primary,
        accent: $tep-digital-lrp-v2-accent,
        warn: $tep-digital-lrp-v2-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tep-digital-lrp-v2-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.mat-snack-bar-container {
  // border-radius: 4px;
  // box-sizing: border-box;
  // display: block;
  // margin: 24px;
  // max-width: 33vw;
  // min-width: 344px;
  // padding: 14px 16px;
  // min-height: 48px;
  // transform-origin: center;
  border-radius: unset;
  box-sizing: border-box;
  display: block;
  margin: 24px;
  max-width: 33vw;
  min-width: 344px;
  padding: unset;
  min-height: 48px;
  transform-origin: center;
}

.mat-snack-bar-container {
  // color: rgba(255, 255, 255, 0.7);
  color: unset;
  // background: #323232;
  background: unset;
  // box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
  box-shadow: unset;
}

.mat-simple-snackbar-action {
  // color: #ff4081;
  color: yellow;
}

// CUSTOM STYLE CORRECTIONS
.mat-dialog-container {
  box-shadow: unset !important;
  background: unset !important;
  padding: 0 !important;
}

.mat-snack-bar-container {
  color: #202020;
  background: #ffffff;
}

.mat-select-arrow {
  color: #73cf48;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: #73cf48;
}

.mat-form-field .mat-form-field-label {
  color: #73cf48;
}

.mat-form-field-label {
  color: #73cf48 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: #f44336 !important;
}

.mat-form-field-ripple {
  background-color: #73cf48 !important;
}

.mat-form-field.mat-form-field-invalid .mat-form-field-ripple,
.mat-form-field.mat-form-field-invalid .mat-form-field-ripple.mat-accent {
  background-color: #f44336 !important;
}

.mat-drawer-container {
  background-color: unset;
  color: inherit;
}

.mat-toolbar {
  background: inherit !important;
}

.example-container {
  border: none !important;
}

.mat-snack-bar-container {
  // color: #202020;
  background: unset;
}

mat-drawer-container {
  min-height: 100vh;
}
.mat-drawer {
  background-color: unset;
  color: unset;
  width: 100%;
  max-width: 300px;
}
