$primaryColor: #90d762;
$primaryColorLight: #d3ffb6;
$primaryColorDark: #7dae5d;
$secondaryColor: #4fc7bf;
$secondaryColorLight: #eefcff;
$secondaryColorDark: #00746c;
$dangerColor: #d93333;
$dangerColorDark: rgba(169, 10, 10, 0.812)
