<!-- <p>about-the-app works!</p> -->

<div id="about-the-app-page">
    <div class="details-card-2">
        <div class="title-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="title">
                    ABOUT THE APP
                </h2>
            </div>
        </div>
        <div class="body-wrapper">
            <div class="item-card">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus fuga ducimus voluptatibus esse
                    praesentium corporis soluta optio iusto nisi enim itaque deserunt culpa, commodi qui blanditiis
                    perferendis et impedit magnam molestias illo delectus odit. Modi voluptates minus dolore aut ad
                    maiores praesentium expedita neque accusamus mollitia itaque vero, minima explicabo asperiores
                    accusantium consectetur cumque.
                </p>
                <p>
                    Officia nihil et aut eos debitis asperiores eius excepturi fugit
                    commodi culpa perferendis vero ullam sint labore recusandae atque accusamus, sapiente omnis? Eius
                    explicabo excepturi vero officia recusandae facere animi voluptates earum, soluta architecto, quam
                    amet ratione sequi unde reprehenderit, omnis impedit iste corrupti alias nobis rerum incidunt sed et
                    aliquam! Modi perspiciatis, repellendus quia accusamus vel possimus cum? Consequuntur adipisci
                    quaerat, optio molestiae tempore sequi excepturi, ut doloribus at illum voluptatem placeat officiis
                    et fuga dolor doloremque aperiam quas.
                </p>

                <p> Perspiciatis magnam incidunt aliquam cupiditate dolor quos
                    aperiam doloremque? Soluta itaque exercitationem qui, harum aut neque sed omnis obcaecati expedita,
                    dicta molestias earum, porro necessitatibus iusto deserunt vitae minus maiores tenetur odit
                    veritatis asperiores. Laudantium porro explicabo harum? Vel quasi ut voluptatem fugit corrupti
                    cupiditate eum vitae explicabo veniam sunt, eos odit suscipit tenetur culpa vero! Dignissimos omnis
                    quam iste aspernatur, deleniti aliquam reiciendis vero quaerat ullam tempora exercitationem modi,
                    accusamus magnam autem, voluptatum in pariatur mollitia.
                </p>
                <p>
                    Nemo laudantium beatae nulla officia rem
                    laboriosam magnam quam architecto quos expedita, ducimus soluta! Possimus quaerat veritatis labore
                    deserunt officiis neque soluta voluptatem dolores id eius exercitationem vero voluptatum quos odit
                    blanditiis, tenetur repellendus unde commodi nulla facere magnam voluptas magni? Esse, facilis illo?
                    Animi suscipit soluta libero et, nihil magnam deserunt, obcaecati aliquam consequatur eligendi
                    corrupti minus accusamus facilis! Animi illo ipsum reprehenderit quia iste odit necessitatibus earum
                    neque repellat iusto accusamus assumenda provident, nam voluptates aliquid quos, accusantium nisi
                    expedita quidem esse? Asperiores laudantium ullam odio corporis!
                </p>
            </div>
        </div>
    </div>
</div>