<!-- <p>about-the-app works!</p> -->

<div id="about-the-app-page">
    <div class="details-card-2">
        <div class="title-wrapper">
            <div class="d-flex align-items-center">
                <h2 class="title">
                    ABOUT THE APP
                </h2>
            </div>
        </div>
        <div class="body-wrapper">
            <div class="item-card">
                <h1 class="page-title">LEARNigeria Remedial Programme (LRP)</h1>
                <p>This web-based LEARNigeria Remedial Programme (LRP) app is developed by TEP Centre using interactive literacy and numeracy content created from the Nigerian curriculum. The digital remedial app will be
                    able to track a child’s self-progress, providing remedial intervention remotely and accessible to
                    every child. This is in a bit to expand in the implementation of LRP in circumstances where it is
                    challenging to have in-person instruction with learners and there are restrictions to social
                    interaction and schooling. The content for LRP app is curated from the LRP/KOYA curriculum as well
                    as the activities that have been recorded and documented for deployment before the pandemic.
                </p>
                <p>
                    This innovation will enable TEP Centre to provide digital remedial learning to children with minimal
                    need for instructors. Similarly, as an extension for continuous resourcing and capacity building,
                    TEP Centre seeks to automate its learning academy platform (TEPLA) to provide digital capacity
                    development in the areas of research, assessment, learning interventions, and advocacy in the
                    education sector. TEPLA would be able to provide resources that can be accessed across Nigeria and
                    beyond.
                </p>

                <p> In Nigeria, remedial learning interventions have been conducted primarily as in-person
                    instructor-led programs in schools as well as out-of-school holiday camps in local communities.
                    COVID 19 pandemic led TEP to re-strategise how best to redesign our remedial learning interventions
                    to adapt to the changes in how children learn in a pandemic and post-pandemic world.
                </p>
            </div>
        </div>
    </div>
</div>