@use "../../../../../../../../../sass/_partials/mixins";

#activity-canvas {
    position: relative;
}
#activity-keypad {
    width: 100%;
    max-width: 500px;
    padding: 2.5em 1.2em;
}

#key-selection-preview-block .preview-text {
    width: auto;
    // display: inline-block;
    padding: .6em .3em;
    align-items: center;
    &.wrong-answer{
        border: 3px solid red !important;
    }
}
#key-selection-preview-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-board > .inner #result-item-list .item-list li {
    position: relative;
    overflow: hidden;
    .film{
        contain: "33";
        position: absolute;
        background-color: rgba(0, 0, 0, .3);
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
    &.active{
        .film{
            display: none;
        }
    }
}
#activity-keypad .key-list {
    flex-wrap: nowrap; 
}
